<p [ngClass]="{'errorClass' : hasError}">Cintia Angelo</p>

<h2 [ngClass]="classes">3 SIS - 2025</h2>

<div [ngClass]=" isSpecial ? 'special' : 'textClass' "></div>

<br>
<h2>Diretiva NgStyle</h2>

<p [ngStyle]="{'background-color' : color, 'font-size' : size, 'color' : 'red'}">2025</p>


<h2>Ng Model</h2>
<label for="exemplo-ngModel">NgModel</label>
<input [(ngModel)]="currentItem.name" id="name1"/>

<p>campo: {{currentItem.name}}</p>

<p>UpperCase:
  <input type="text"
  [ngModel]="currentItem.name"
  (ngModelChange)="steUpperCaseName($event)"
  id="name2" ></p>

